

{% extends "about/templates2/about_template.html" %}

{% block title1 %}About{% endblock %}

{% block main %}
 
<main id="about">
    <h1 class="lg-heading">
      About
    </h1>
    <div class="about-info">
    	<img src="{{url_for('static', filename='img/hk.png')}}" class="bio-image">
        <div class="bio">
        <p>I am Aldrich Boen B. Salonga. I am an BSIT graduate and pursuing 
        career of being an IT programmer. I started working at Pez.AI in the month of 
        October.I'm planning to have a solid IT career which starts from being a Front-end Developer and planning to be a FullStack Developer in the future.</p>
      </div>

      <div class="job job-1">
        <h3>Accenture</h3>
        <h6>Data Analyst</h6>
        <p>Health account that handles appeals and sending letters to patients for health care centers. This role also handles transactions and verify if the transactions are already done or duplicate.</p>
      </div>

      <div class="job job-2">
        <h3>Pez AI Bot</h3>
        <h6>Front End Developer</h6>
        <p>Role is to create user interface such as websites to provide a responsive product. Javascript framework using is Vue.js and also using Flask in Python</p>
      </div>
  </div>
  </main>


{% endblock %}