{% extends "public/templates/public_template.html" %}


{% block title %}Home{% endblock %}


{% block main %}

<main id="home">
<div class="row">
	<div class="col">
    <h1 class="lg-heading">
      Aldrich Salonga
    </h1>
    <h2 class="sm-heading">
      Former Data Analyst and 
      currently Front-end developer.
    </h2>
</div>
  </div>
</div>
{% endblock %}