

{% extends "contact/templates1/contact_template.html" %}

{% block title2 %}Contact{% endblock %}

{% block main %}

 <main id="contact">
    <h1 class="lg-heading">
      Contact Info
    </h1>
    <div class="boxes">
      <div>
        <span class="text-secondary">Email: </span> abbsalonga@pez.ai
      </div>
      <div>
        <span class="text-secondary">Phone: </span> 09155008379 - Globe
      </div>
      
    </div>
  </main>


{% endblock %}